@use 'scss-reset/reset';
@use './fonts/fonts.scss';
@use './variables/variables.scss' as *;

html {
    height: 100%;
}

body {
    background-color: $bg-color;
    color: $text;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}