.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

nav {
    margin-bottom: 25px;

    ul {
        display: flex;
        gap: 20px;
    }
}

.power {
    margin-top: 25px;
    margin-bottom: 8px;
}

.news__image {
    margin-bottom: 25px;
}

.copyright {
    padding-bottom: 20px;
}